
@media (max-width: 576px) {
    .item {
        width: 100% !important;
    }
    .item3 {
        background: red !important;
    }
    .item4 {
        background: blue !important;
    }

}

@media (max-width: 768px) and (min-width: 576px) {
    .item {
        width: 50% !important;
        float: left !important;
    }
    .item3 {
        background: blue !important;
    }
    .item4 {
        background: red !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .item {
        width: 33.33% !important;
    }
    .item2 {
        background-color: green !important;
    }
    .item3 {
        background: blue!important;
    }
    .item4 {
        visibility: hidden;
    }
}

@media (min-width: 1200px) {
    .item {
        padding: 50px !important;
        
    }
}