* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 1140px;
    margin: 0 auto;
}

.item {
  width: 25%;
  padding: 30px;
  color: #fff;
  background: red;
  float: left;
  text-align: center;
  font-size: 30px;
}

.item1 {
    background: red;
}
.item2 {
    background: blue;
}
.item3 {
    background: #00d9ff;
}
.item4 {
    background: orange;
}

